# Paths
export PATH=$PATH:$HOME/bin:$(brew --prefix)/share/python
#export PATH=/usr/bin:/bin:/usr/sbin:/usr/local:/usr/local/bin:/sbin
export PYTHONPATH=$(brew --prefix)/lib/python2.7/site-packages
export CLOSURE_PATH="/usr/local/Cellar/closure-compiler/20150315/libexec"

# Locale
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';
export PYTHONIOENCODING='UTF-8';

# History
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# Manuals
export MANPAGER='less -X';
# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Default Editor
export EDITOR='subl';

# Node History
export NODE_REPL_HISTORY=~/.node_history;
export NODE_REPL_HISTORY_SIZE='32768';
export NODE_REPL_MODE='sloppy';
